@charset "utf-8";

$clr-theme-1: $clr-amber-800;
$clr-theme-2: $clr-amber-300;
$clr-theme-3: $clr-amber-50;
$clr-theme-4: $clr-amber-100;
$clr-theme-5: $clr-amber-200;
$clr-theme-6: $clr-amber-400;
$clr-theme-7: $clr-amber-500;
$clr-theme-8: $clr-amber-600;
$clr-theme-9: $clr-amber-700;
$clr-theme-10: $clr-amber-900;
$clr-theme-11: $clr-amber-a100;
$clr-theme-12: $clr-amber-a200;
$clr-theme-13: $clr-amber-a400;
$clr-theme-14: $clr-amber-a700;
